<?xml version="1.0" encoding="UTF-8"?>
<appSettings>
	<!-- 
    The network protocol used to access the database.
    Valid options: Default, NamedPipes, Sockets
  -->
	<add key="NetType" value="Default"></add>
	<!-- 
    Name of the database server to connect to.
  -->
	<add key="DatabaseServer" value="ANITA"></add>
	<!-- 
    Name of the database instance to connect to.
  -->
	<add key="DatabaseInstance" value=""></add>
	<!--
    Name of the database to connect to.
  -->
	<add key="DatabaseName" value="Demo Database NAV (6-0)"></add>
	<!--
    Name of the Microsoft Dynamics NAV Server instance to connect
    to (for client) or listen on (for server).
  -->
	<add key="ServerInstance" value="DynamicsNAV"></add>
	<!-- 
    The listening TCP port for the Microsoft Dynamics NAV Server.
    This is part of the server's URL.
    Valid range: 1-65535
  -->
	<add key="ServerPort" value="7046"></add>
	<!-- 
    The listening HTTP port for the Microsoft Dynamics NAV 
    Business Web Services.
    This is part of the web service's URL.
    Valid range: 1-65535
  -->
	<add key="WebServicePort" value="7047"></add>
	<!--
    Turns on or off the https for Web Services
  -->
	<add key="WebServiceSSLEnabled" value="false"></add>
	<!--
    Maximum permitted size of a Web Services request, in kilobytes
  -->
	<add key="WebServicesMaxMsgSize" value="512"></add>
	<!--
  Turns on or off NTLM authentication protocol for Web Services
      false: Use SPNEGO (recommended)
      true: Use NTLM only
  -->
	<add key="WebServicesUseNTLMAuthentication" value="false"></add>
	<!--
    The default time zone in which web service calls are run. 
    Supported values "UTC" (the default), "Server Time Zone" 
    (the time zone of the server), or the ID of a Windows 
    time zone defined in the system registry under 
    HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows NT\CurrentVersion\Time Zones, 
    for example "Romance Standard Time"
  -->
	<add key="WebServicesDefaultTimeZone" value="UTC"></add>
	<!--
    Maximum time in seconds a call from the client to the server
    may take to return.
    Time span format: [dd.]hh:mm:ss[.ff]
        dd: days
        hh: hours
        mm: minutes
        ss: seconds
        ff: fractions of a second
    Or "MaxValue" to indicate there is no timeout.
  -->
	<add key="OperationTimeout" value="MaxValue"></add>
	<!--
    The security services used to protect the client/server data stream.
    Valid options: EncryptAndSign, Sign, None
  -->
	<add key="ProtectionLevel" value="EncryptAndSign"></add>
	<!--
    Maximum number of concurrent client calls that can be active on the 
    Microsoft Dynamics NAV Server. To disable this setting set the value
    to "MaxValue".
  -->
	<add key="MaxConcurrentCalls" value="40"></add>
	<!--
    The maximum number of concurrent client connection that the service
    will accept. To disable this setting set the value to "MaxValue".
  -->
	<add key="MaxConcurrentConnections" value="150"></add>
	<!--
    Sets the grace period within which the client can reconnect to a
    running session.
    Time span format: [dd.]hh:mm:ss[.ff]
        dd: days
        hh: hours
        mm: minutes
        ss: seconds
        ff: fractions of a second
    Or "MaxValue" to indicate there is no timeout.
  -->
	<add key="ClientReconnectPeriod" value="00:10:00"></add>
	<!--
      Sets the maximum number of orphaned connections to be kept alive 
      simultaneouly for a maximum time specified by the 
      ClientReconnectPeriod setting. A connection becomes an orphan when
      the client becomes involuntarily disconnected from the server.
  -->
	<add key="MaxNumberOfOrphanedConnections" value="20"></add>
	<!--
      Threshold for when to start compressing data sets to avoid that they 
      consume prohibitive amounts of memory.
  -->
	<add key="CompressionThreshold" value="64"></add>
	<!--
      Sets the Metadata Provider cache size (in number in objects cached). 
      Set to 0 to disable cache.
  -->
	<add key="MetadataProviderCacheSize" value="150"></add>
	<!--
      Limits the size of files that can be uploaded in order to avoid out of memory errors. This value is in megabytes.
  -->
	<add key="MaxUploadSize" value="5"></add>
	<!--
      With the EnableDebugging flag set to true the Microsoft Dynamics NAV Server
       will start with debugging mode enabled.  This mode has three main functions:
      1)	Upon first connection by a RoleTailored Client all C# for that application
          will be generated.  
      2)	C# files will be persisted between server restarts.
      3)  Application Objects will be compiled with debug information.
  -->
	<add key="EnableDebugging" value="false"></add>
	<!--
      Sets the maximum number of items to serialize or deserialize, in KB
  -->
	<add key="MaxItemsInObjectGraph" value="128"></add>
	<!--
      Sets the default size of a chunk, in KB. Should be a value between 4 and 80.
  -->
	<add key="ChunkSize" value="28"></add>
	<!--  
    The type of client credential used for authentication. (Values are Windows/UserName) 
  -->
	<add key="ClientCredentialType" value="Windows"></add>
	<!-- 
    The CertificateThumbprint, for the x509 certificate that is going to be used for authentication 
  -->
	<add key="CertificateThumbprint" value=""></add>
</appSettings>
